body {
	min-width:1200px;
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	font-family: "PT Sans", "Arial", sans-serif;
	color: #000000;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
	background-color: #ffffff;
}

.wrapper {
	width: 1200px;
	margin: 0 auto;
	box-shadow: 0 7px 30px 0 rgba(0,0,0,0.2);
}

.clearfix::after {
	content: "";
	
	display: table;
	clear: both;
}

.container {
	width: 1200px;
	margin: 0 auto;
	padding: 0;
	position: relative;
}

.main-header {
	display: flex;
	margin-bottom: 0;
	background-color: #ffffff;
	color: #000000;
}

.main-navigation {
	display: flex;
	position: relative;
	padding-left: 72px;
	padding-right: 72px;
	width: 100%;
}

.main-navigation ul {
	margin: 0;
	padding: 0;
	
	list-style: none;
	font-size: 0;
}

.main-navigation li {
	display: inline-block;
	font-size: 14px;
	line-height: 26px;	
	vertical-align: top;
}

.main-navigation a {
	display: block;
	padding-top: 15px;
	padding-bottom: 15px;
	color: #000000;
	text-decoration: none;
	font-weight: bold;


}

.main-navigation li:first-child {
	
	padding-left: 0px;
	padding-right: 73px;
}

.main-navigation li:nth-child(2) {
	
	padding-left: 73px;
	padding-right: 312px;
	
}

.main-navigation li:nth-child(3) {
	
	padding-left: 76px;
	padding-right: 75px;
	
}

.main-navigation li:last-child {
	
	padding-left: 89px;
	padding-right: 0px;
	
}

.main-navigation a:hover {
	color: #81b3d2;
}

.main-navigation a:active {
	color: #000000;
	opacity: 0.3;
}

.index-logo {
	position: absolute;
	z-index: 1;
	left: 50%;
	transform: translateX(-50%);
}


.description {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 27px;
	text-align: center;
}

.description h2 {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
}

.features {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 51px;
	text-align: center;
}

.features p {
	font-size: 14px;
	line-height: 26px;
	font-weight: 400;
}
	
.features-item {
	min-height: 256px;
	margin: 0;
}

.features-item-content {
	width: 400px;
	text-align: center;
	background-color: #81b3d2;
	color: #ffffff;
	padding-top: 25px;
	padding-bottom: 46px;
}

.features-item-content p {
	padding-top: 5px;
}

.features-item-content-left {
	float: left;
}	

.features-name {
	font-size: 21px;
	line-height: 21px;
	font-weight: 700;

}

.features-item-img {
	width: 800px;
	height: 256px;
}
	
.features-item-img-right {
	float: right;
}	

.recomendation {
	display: flex;
	width: 1200px;
	justify-content: space-between;
	margin-bottom: 0px;
	min-height: 330px;
}

.recomendation-item {
	position: relative;
	width: 400px;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 144px;
	text-align: center;
}	

.recomendation-item p {
	padding-top: 6px;
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
}

.recomendation-name,
.features-name-another {
	font-size: 21px;
	line-height: 21px;
	font-weight: 700;
}


.accomodation::before {
	position: absolute;
	content: " ";
	top: 58px;
	left: 162px;
	width: 75px;
	height: 72px;
	background: #ffffff url("../img/accomodation.png") no-repeat center;
	background-position: 0px 0px;
}

.food::before {
	position: absolute;
	content: " ";
	top: 58px;
	left: 163px;
	width: 75px;
	height: 72px;
	background: #ffffff url("../img/food.png") no-repeat center;
	background-position: 0px 0px;
}

.souvenirs::before {
	position: absolute;
	content: " ";
	top: 53px;
	left: 168px;
	width: 75px;
	height: 76px;
	background: #ffffff url("../img/souvenirs.png") no-repeat center;
	background-position: 0px 0px;
}

.features-item-content-right {
	float: right;
}	

.features-item-img-left {
	float: left;
}	

.features-item-another-block {
	display: flex;
	width: 1200px;
	justify-content: space-between;
	margin: 0px;
	min-height: 256px;
	background-color: #eeeeee;
	margin-bottom: 50px;
}	
	

.features-item-another {
	width: 400px;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 23px;
	text-align: center;
}	

.features-item-another p {
	padding-top: 5px;	
}

.index-content {
	width: 1200px;
	margin: 0;

}

.question {
	text-align: center;
	font-size: 30px;
	line-height: 30px;
	font-weight: 700;
	display: block;
	padding-bottom: 24px;
}

.index-content p {
	text-align: center;
	margin: 0 auto;
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
	height: 137px;
	padding-bottom: 48px;
}



.search-hotel-form {
	width: 568px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 55px;	
	box-shadow: 0 7px 15px 0 rgba(0,0,0,0.2);
	
}

.index-content-form-title {
	display: block;
	width: 568px;
	background-color: #766357;
	text-align: center;
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: #ffffff;
	margin: 0 auto;
	padding-top: 30px;
	padding-bottom: 30px;
}

.date {
	display: flex;
	margin-left: 55px;
	align-items: center;
}

.date input {
	font-family: "PT Sans", "Arial", sans-serif;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;
	background-color: #f2f2f2;
	border: 0px;
	border: 2px solid transparent;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 11px;
	margin-right: 55px;
	width: 330px;
}

.date input:hover{
	background-color: #ebebeb;
}

.date input:active {
	background-color: #ffffff;
	border: 2px solid #e5e5e5;
}

.date label {
	font-size: 14px;
	font-weight: 700;
	line-height: 26px;
}

	
.check-out input {
	margin-left: 20px;
}

.check-in input {
	margin-left: 24px;
}	
	
.check-in {
	margin-top: 54px;
}

.check-out {
	margin-top: 30px;
}
	
.date-line {
	position: relative;
}
	
.date-line a {
	position: absolute;
	right: 65px;
	bottom: 10px;
	width: 22px;
	height: 22px;
	background: #f2f2f2 url("../img/calendar.png") no-repeat center;
	background-position: 0px 0px;
	font-size: 0px;
}	

.date-line a:hover {
	background: #f2f2f2 url("../img/calendar-hover.png") no-repeat center;
	background-position: 0px 0px;
}

.date-line a:active {
	background: #f2f2f2 url("../img/calendar-active.png") no-repeat center;
	background-position: 0px 0px;
	
}
	
		
.bottom-line {
	display: flex;
	margin-left: 54px;
	margin-top: 30px;
	align-items: center;
}

.person label {
	font-size: 14px;
	font-weight: 700;
	line-height: 26px;
}

.person input {
	font-family: "PT Sans", "Arial", sans-serif;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;
	background-color: #f2f2f2;
	border: 0px;
	width: 23px;
	padding-left: 15px;
	padding-top: 6px;
	padding-bottom: 6px;
}

 .person {
	display: flex;
	align-items: center;
}

.person-line {
	position: relative;
	margin-left: 25px;
}
	
.person-line span {
  position: absolute;
}

.plus {
	width: 38px;
	height: 38px;
	top: 0px;
	right: -38px;
	background: #f2f2f2 url("../img/plus.png") no-repeat center;
	background-position: 0px 0px;
}

.minus {
	width: 38px;
	height: 38px;
	top: 0px;
	right: 38px;
	background: #f2f2f2 url("../img/minus.png") no-repeat center;
	background-position: 0px 0px;
}
	
.children input {
  margin-left: 46px;
}

.adults input {
  margin-left: 55px;
}

.children {
  margin-left: 80px;
}	
	
.plus:hover {
  background: #f2f2f2 url("../img/plus-hover.png") no-repeat center;
  background-position: 13px 14px;
}
.plus:active {
  background: #f2f2f2 url("../img/plus-active.png") no-repeat center;
  background-position: 13px 14px;
}
.minus:hover {
  background: #f2f2f2 url("../img/minus-hover.png") no-repeat center;
  background-position: 13px 18px;
}
.minus:active {
  background: #f2f2f2 url("../img/minus-active.png") no-repeat center;
  background-position: 13px 18px;
}	
	
.search-hotel-btn {
  display: block;
  width: 74px;
  margin-left: 57px;
  text-decoration: none;
  background-color: #81b3d2;
  color: #fff;
  padding: 16px 192px;
  font-size: 21px;
  line-height: 26px;
  margin-top: 54px;
  font-weight: bold;
}
.search-hotel-btn:hover {
  background-color: #669ec0;
}
.search-hotel-btn:active {
  background-color: #5496bd;
  color: #94b9d2;
}	
	
	
.map {
	position: relative;
	width: 1200px;
	height: 594px;
	z-index: -1;
}


.main-footer {
	padding-top: 36px;
	padding-bottom: 20px;
	background-color: rgba(255,255,255,0.9);
	opacity: 0.9;
}

.footer-tag {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	float: left;
	width: 240px;
	margin-left: 73px;
	text-align: center;
}

.footer-social {
	float: left;
	width: 180px;
	margin-left: 198px;
	text-align: center;
}


.social-btn {
	display: inline-block;
	width: 46px;
	height: 48px;
	margin: 0 2px;
	font-size: 0;
	vertical-align: top;
	text-decoration: none;
	background-color: #81b3d2;
}

.social-btn:hover {
	background-color: #ffffff;
}

.social-btn-tw {
	background: #81b3d2 url("../img/twitter.png") no-repeat center;
	background-position: 50% 50%;
}

.social-btn-fb {
	background: #81b3d2 url("../img/facebook.png") no-repeat center;
	background-position: 50% 50%;
}

.social-btn-yt {
	background: #81b3d2 url("../img/youtube.png") no-repeat center;
	background-position: 50% 50%;
}

.social-btn-tw:hover  {
	background: #669ec0 url("../img/twitter.png") no-repeat center;
	background-position: 50% 50%;
}

.social-btn-fb:hover  {
	background: #669ec0 url("../img/facebook.png") no-repeat center;
	background-position: 50% 50%;
}

.social-btn-yt:hover {
	background: #669ec0 url("../img/youtube.png") no-repeat center;
	background-position: 50% 50%;
}

.social-btn-tw:active  {
	background: #5496bd url("../img/twitter-active.png") no-repeat center;
	background-position: 50% 50%;
}

.social-btn-fb:active {
	background: #5496bd url("../img/facebook-active.png") no-repeat center;
	background-position: 50% 50%;
}

.social-btn-yt:active {
	background-color: #5496bd url("../img/youtube-active.png") no-repeat center;
	background-position: 50% 50%;
}


.footer-copyright {
	float: right;
	width: 240px;
	margin-right: 73px;
	display: flex;
	align-items: center;
}

.footer-coopyright p {
	font-size: 14px;
	line-height: 26px;
	font-weight: 400;
	margin: 0;
	text-align: left; 
}

.footer-copyright .btn {
	margin-left: 8px;
	font-size: 0;
	text-decoration: none;
	display: block;
	width: 112px;
	height: 38px;
	background: #ffffff url("../img/logo-html.png") no-repeat center;
	background-position: 0px 0px;
}

.footer-copyright .btn:hover {
	background: #ffffff url("../img/logo-html-hover.png") no-repeat center;
	background-position: 0px 0px;
}

.footer-copyright .btn:active {
	background: #ffffff url("../img/logo-html-active.png") no-repeat center;
	background-position: 0px 0px;
}






.options {
	margin-bottom: 28px; 
	/* Только для оформления*/
	background-color: crimson;	
}

.options-infrastructure {
	float: left;
	width: 280px;
	margin-right: 20px;
	/* Только для оформления*/
	min-height: 220px;
	background-color: orange;
}

.options-accommodation {
	float: left;
	width: 280px;
	/* Только для оформления*/
	min-height: 220px;
	background-color: orange;
}

.result {
	width: 1056px;
	margin-left: 73px;
	margin-right: 73px;
	margin-bottom: 30px;
	/* Только для оформления*/
	min-height: 30px;
	background-color: blue;
}


.content-left {
	float: left;
	width: 528px;
	margin-left: 73px;
	/* Только для оформления*/
	min-height: 151px;
	background-color: gray;	
}

.content-right {
	float: right;
	width: 241px;
	margin-right: 73px;
	/* Только для оформления*/
	min-height: 151px;
	background-color: gray;	
}


.filter-range {
	width: 330px;
	color: #ffffff;
	text-transform: uppercase;
}

.filter-range-title {
	margin-bottom: 9px;

	font-weight: 600;
	font-size: 16px;
	line-height: 21px;
}

.price-controls {
	position: relative;
	
	height: 36px;
	margin-bottom: 20px;

	font-size: 0;
  
	border: 2px solid #ffffff;
	border-radius: 2px;
}

.price-controls::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	
	width: 2px;
	height: 22px;

	background: #ffffff;
	transform: translate(-50%, -50%);
}

.price-controls label {
	display: inline-block;

	font-size: 14px;
	line-height: 38px;
	vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
	width: 90px;
	padding-left: 65px;
}

.price-controls input {
	width: 50px;
	margin: 0;

	color: inherit;
	font: inherit;
	
	background: none;
	border: none;
}

.range-controls {
	position: relative;

	margin-bottom: 32px;
}

.range-controls .scale {
	height: 2px;

	background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
	width: 80%;
	height: 2px;

	background: #ffffff;
}

.range-toggle {
	position: absolute;
	top: -9px;
	
	width: 4px;
	height: 4px;

	background: #ababab;
	border: 8px solid #ffffff;
	border-radius: 50%;
	box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
	cursor: pointer;
}

.range-toggle:hover {
	background: #1c4f80;
}

.range-toggle-min {
	left: 0;
}

.range-toggle-max {
	left: 80%;
}

.btn-transparent {
	display: block;
	margin: 0 auto;
	padding: 6px 35px;
	
	font-size: 14px;
	line-height: 20px;
	color: #ffffff;
	text-transform: uppercase;

	background: transparent;
	border: 2px solid #ffffff;
	border-radius: 2px;
	cursor: pointer;
}

.btn-transparent:hover {
	color: #000000;

	background: #ffffff;
}