body {
	min-width:1200px;
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	font-family: "PT Sans", "Arial", sans-serif;
	color: #000000;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
	background-color: #ffffff;
}

.wrapper {
	width: 1200px;
	margin: 0 auto;
	box-shadow: 0 7px 30px 0 rgba(0,0,0,0.2);
}

.clearfix::after {
	content: "";
	
	display: table;
	clear: both;
}

.container {
	width: 1200px;
	margin: 0 auto;
	padding: 0;
	position: relative;
}

.main-header {
	display: flex;
	margin-bottom: 0;
	background-color: #ffffff;
	color: #000000;
}

.main-navigation {
	display: flex;
	position: relative;
	padding-left: 72px;
	padding-right: 72px;
	width: 100%;
}

.main-navigation ul {
	margin: 0;
	padding: 0;
	
	list-style: none;
	font-size: 0;
}



.main-navigation li {
	display: inline-block;
	font-size: 14px;
	line-height: 26px;	
	vertical-align: top;
}

.main-navigation li:nth-child(3) {
	text-align: right;
	margin-left: 92px;
}
.main-navigation li:nth-child(4) {
	text-align: right;
}

.main-navigation a {
	display: block;
	padding-top: 15px;
	padding-bottom: 15px;
	width: 240px;
	color: #000000;
	text-decoration: none;
	font-weight: 700;
}

.main-navigation a:hover {
	color: #81b3d2;
}

.main-navigation a:active {
	color: #000000;
	opacity: 0.3;
}

.index-logo {
	position: absolute;
	z-index: 1;
	left: 50%;
	transform: translateX(-50%);
}


.description {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 27px;
	text-align: center;
}

.description h2 {
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
}

.features {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 51px;
	text-align: center;
}

.features p {
	font-size: 14px;
	line-height: 26px;
	font-weight: 400;
}
	
.features-item {
	min-height: 256px;
	margin: 0;
}

.features-item-content {
	width: 400px;
	text-align: center;
	background-color: #81b3d2;
	color: #ffffff;
	padding-top: 25px;
	padding-bottom: 46px;

}

.features-item-content p {
	padding-top: 5px;
}

.features-item-content-left {
	float: left;
}	

.features-name {
	font-size: 21px;
	line-height: 21px;
	font-weight: 700;

}

.features-item-img {
	width: 800px;
	height: 256px;
}
	
.features-item-img-right {
	float: right;
}	

.recomendation {
	display: flex;
	width: 1200px;
	justify-content: space-between;
	margin-bottom: 0px;
	min-height: 330px;

}

.recomendation-item {
	position: relative;
	width: 400px;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 137px;
	text-align: center;
}	

.recomendation-item p {
	padding-top: 6px;
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
}

.recomendation-name,
.features-name-another {
	font-size: 21px;
	line-height: 21px;
	font-weight: 700;
}


.accomodation::before {
	position: absolute;
	content: " ";
	top: 58px;
	left: 162px;
	width: 75px;
	height: 72px;
	background: #ffffff url("../img/accomodation.png") no-repeat center;
	background-position: 0px 0px;
}

.food::before {
	position: absolute;
	content: " ";
	top: 58px;
	left: 163px;
	width: 75px;
	height: 72px;
	background: #ffffff url("../img/food.png") no-repeat center;
	background-position: 0px 0px;
}

.souvenirs::before {
	position: absolute;
	content: " ";
	top: 53px;
	left: 168px;
	width: 75px;
	height: 76px;
	background: #ffffff url("../img/souvenirs.png") no-repeat center;
	background-position: 0px 0px;
}

.features-item-content-right {
	float: right;
}	

.features-item-img-left {
	float: left;
}	

.features-item-another-block {
	display: flex;
	width: 1200px;
	justify-content: space-between;
	margin: 0px;
	min-height: 256px;
	background-color: #eeeeee;
	margin-bottom: 50px;
}	
	

.features-item-another {
	width: 400px;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 23px;
	text-align: center;
}	

.features-item-another p {
	padding-top: 5px;	
}

.index-content {
	position: relative;
	width: 1200px;
	margin: 0;

}

.question {
	text-align: center;
	font-size: 30px;
	line-height: 30px;
	font-weight: 700;
	display: block;
	padding-bottom: 30px;
}

.index-content p {
	text-align: center;
	margin: 0 auto;
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
	height: 137px;
	padding-bottom: 46px;
}



.search-hotel-form {
	position: absolute;
	width: 568px;
	left: 316px;
	top: 157px;
	box-shadow: 0 7px 15px 0 rgba(0,0,0,0.2);
	z-index: 1;
	background-color: #ffffff;
	min-height: 480px;
	
}

.index-content-form-title {
	display: block;
	width: 568px;
	background-color: #766357;
	text-align: center;
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	color: #ffffff;
	margin: 0 auto;
	padding-top: 30px;
	padding-bottom: 30px;
}

.date {
	display: flex;
	margin-left: 55px;
	align-items: center;
}

.date input {
	font-family: "PT Sans", "Arial", sans-serif;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;
	background-color: #f2f2f2;
	border: 0px;
	border: 2px solid transparent;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 11px;
	margin-right: 55px;
	width: 330px;
}

.date input:hover{
	background-color: #ebebeb;
}

.date input:active {
	background-color: #ffffff;
	border: 2px solid #e5e5e5;
}

.date label {
	font-size: 14px;
	font-weight: 700;
	line-height: 26px;
}

	
.check-out input {
	margin-left: 20px;
}

.check-in input {
	margin-left: 24px;
}	
	
.check-in {
	margin-top: 54px;
}

.check-out {
	margin-top: 25px;
}
	
.date-line {
	position: relative;
}
	
.date-line a {
	position: absolute;
	right: 65px;
	bottom: 10px;
	width: 22px;
	height: 22px;
	background: #f2f2f2 url("../img/calendar.png") no-repeat center;
	background-position: 0px 0px;
	font-size: 0px;
}	

.date-line a:hover {
	background: #f2f2f2 url("../img/calendar-hover.png") no-repeat center;
	background-position: 0px 0px;
}

.date-line a:active {
	background: #f2f2f2 url("../img/calendar-active.png") no-repeat center;
	background-position: 0px 0px;
	
}
			
.bottom-line {
	display: flex;
	margin-left: 54px;
	margin-top: 32px;
	align-items: center;
}

.person label {
	font-size: 14px;
	font-weight: 700;
	line-height: 26px;
}

.person input {
	font-family: "PT Sans", "Arial", sans-serif;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;
	background-color: #f2f2f2;
	border: 0px;
	width: 23px;
	padding-left: 15px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.person {
	display: flex;
	align-items: center;
}

.person-line {
	position: relative;
	margin-left: 25px;
}
	
.person-line span {
	position: absolute;
}

.plus {
	width: 38px;
	height: 38px;
	top: 0px;
	right: -38px;
	background: #f2f2f2 url("../img/plus.png") no-repeat center;
	background-position: 0px 0px;
	cursor: pointer;
}

.minus {
	width: 38px;
	height: 38px;
	top: 0px;
	right: 38px;
	background: #f2f2f2 url("../img/minus.png") no-repeat center;
	background-position: 0px 0px;
	cursor: pointer;
}
	
.children input {
	margin-left: 46px;
}

.adults input {
	margin-left: 55px;
}

.children {
	margin-left: 80px;
}	
	
.plus:hover {
	background: #f2f2f2 url("../img/plus-hover.png") no-repeat center;
	background-position: 13px 14px;

}
.plus:active {
	background: #f2f2f2 url("../img/plus-active.png") no-repeat center;
	background-position: 13px 14px;
}
.minus:hover {
	background: #f2f2f2 url("../img/minus-hover.png") no-repeat center;
	background-position: 13px 18px;
 
}
.minus:active {
	background: #f2f2f2 url("../img/minus-active.png") no-repeat center;
	background-position: 13px 18px;
}	
	
.search-hotel-btn {
	display: block;
	width: 458px;
	margin-left: 57px;
	text-decoration: none;
	background-color: #81b3d2;
	color: #ffffff;
	padding: 16px 192px;
	font-size: 21px;
	line-height: 26px;
	margin-top: 50px;
	margin-bottom: 50px;
	font-weight: 700;
	text-transform: uppercase;
	font-family: "PT Sans", "Arial", sans-serif;
	cursor: pointer;
}
.search-hotel-btn:hover {
	background-color: #669ec0;
}
.search-hotel-btn:active {
	background-color: #5496bd;
	color: #94b9d2;
}	
	
	
.map {
	position: relative;
	width: 1200px;
	height: 594px;
	z-index: -1;
}

.options {
	margin-bottom: 18px; 
	width: 1200px;
	min-height: 217px;
	background: #607688 url("../img/catalog-background.jpg") no-repeat;
	background-position: 0 0;
	
	color: #ffffff;
	text-transform: uppercase;
}

.options-infrastructure {
	float: left;
	width: 240px;
	margin-right: 0;
	margin-left: 71px;
	padding-left: 0;

}

.options-accommodation {
	float: left;
	width: 240px;
	padding-left: 16px;
}

.option-title {
	font-size: 16px;
	line-height: 21px;
	font-weight: 700;
	padding-top: 10px;
	padding-bottom: 7px;
}


.options-infrastructure ul,
.options-accommodation ul  {
	margin: 0;
	padding: 0;
	
	list-style: none;
	font-size: 0;
}

.options-infrastructure li,
.options-accommodation li {
	font-size: 14px;
	line-height: 21px;	
	font-weight: 400;
}


.options-infrastructure label {
	position: relative;
	display: block;
	width: 240px;
	height: 46px;
	color: #ffffff;
	padding-left: 41px;
}

.options input[type="checkbox"] {
	display: none;
}



label .checkbox-point {
	position: absolute;
	left: 0;
	top: 0;
	width: 26px;
	height: 22px;
	background: url("../img/point.png") no-repeat center;
	background-position: 0px 0px;
	cursor: pointer;
}

.box input:checked + .checkbox-point {
	background: url("../img/point-with-mark.png") no-repeat center;
	background-position: 0px 0px;
}

.box input:disabled + .checkbox-point {
	background: url("../img/point-disabled.png") no-repeat center;
	background-position: 0px 0px;
}

.box input:checked:disabled + .checkbox-point {
	background: url("../img/point-with-mark-disabled.png") no-repeat center;
	background-position: 0px 0px;
}



.options-accommodation label {
	position: relative;
	display: block;
	width: 240px;
	height: 46px;
	color: #ffffff;
	padding-left: 40px;
}



.filter-range {
	float: right;
	width: 320px;
	margin-right: 73px;
	padding-top: 26px;
}

.filter-range-title {
	margin-bottom: 9px;
	font-weight: 600;
	font-size: 16px;
	line-height: 21px;
}

.price-controls {
	position: relative;
	height: 35px;
	margin-bottom: 20px;
	font-size: 0;
 	border: 2px solid #ffffff;
	border-radius: 2px;
}

.price-controls::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 2px;
	height: 22px;
	background: #ffffff;
	transform: translate(-50%, -50%);
}

.price-controls label {
	display: inline-block;
	font-size: 14px;
	line-height: 38px;
	vertical-align: top;
	cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
	width: 90px;
	padding-left: 65px;
	font-size: 16px;
	line-height: 21px;
	padding-top: 5px;
}

.price-controls input {
	width: 50px;
	margin: 0;
	color: inherit;
	font: inherit;
	background: none;
	border: none;
}

.range-controls {
	position: relative;
	margin-bottom: 32px;
}

.range-controls .scale {
	height: 2px;
	background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
	width: 80%;
	height: 2px;
	background: #ffffff;
}

.range-toggle {
	position: absolute;
	top: -9px;
	width: 4px;
	height: 4px;
	background: #ababab;
	border: 8px solid #ffffff;
	border-radius: 50%;
	box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
	cursor: pointer;
}

.range-toggle:hover {
	background: #1c4f80;
}

.range-toggle-min {
	left: 0;
}

.range-toggle-max {
	left: 80%;
}

.btn-transparent {
	display: block;
	margin: 0 auto;
	padding: 4px 32px;
	font-size: 14px;
	line-height: 20px;
	color: #ffffff;
	text-transform: uppercase;
	background: transparent;
	border: 2px solid #ffffff;
	border-radius: 2px;
	cursor: pointer;
}

.btn-transparent:hover {
	color: #000000;
	background: #ffffff;
}


.result {
	position: relative;
	display: flex;
	padding-left: 72px;
	padding-right: 72px;
	align-items: center;
	border-bottom: 1px solid #e5e5e5;
	padding-bottom: 16px;
}
.result b {
	display: block;
	width: 160px;
	font-size: 21px;
	line-height: 26px;
}
.sorting {
	display: flex;
	width: 100%;
	margin-left: 36px;
	align-items: center;
}
.sort {
	font-size: 12px;
	line-height: 18px;
	margin-right: 40px;
}
.sorting ul {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 0;
}
.sorting li {
	display: inline-block;
	font-size: 14px;
	line-height: 26px;
	vertical-align: top;
	align-items: center;
	font-size: 12px;
	line-height: 18px;
	margin-bottom: 15px;
	margin-top: 18px;
}
.sorting a {
	text-decoration: none;
	position:relative;
	display: block;
	padding-left: 0px;
	padding-right: 0px;
	margin-right: 33px;
	color: #dadada;
}
.sorting .present a {
	color: #81b3d2;
}
.sorting a::after {
	content: " ";
	display: block;
	position: absolute;
	width: 100%;
	height: 1px;
	border-bottom: 1px dotted #81b3d2;
	top: 15px;
	left: 0px;
}
.sorting a:focus::after {
	content: " ";
	display: none;;
}
.sorting .present a::after {
	content: " ";
	display: none;
}
.sorting a:hover {
	color: #81b3d2;
}
.sorting a:active {
	color: #000000;
	text-decoration: none;
}
.sorting .present a:active {
	color: #81b3d2;
}

.ascending-descending {
	width: 60px;
	font-size: 0;
	text-decoration: none;
	margin-top: 9px;
}
.ascending {
	display: inline-block;
	width: 11px;
	height: 10px;
	margin-left: 12px;
	margin-right: 12px;
	font-size: 0;
	vertical-align: top;
	text-decoration: none;
	background: #ffffff url("../img/ascending.png") no-repeat center;
	background-position: 0px 0px;
  }
.ascending:hover {
	background: #ffffff url("../img/ascending-hover.png") no-repeat center;
	background-position: 0px 0px;
}
.ascending:active {
	background: #ffffff url("../img/ascending-active.png") no-repeat center;
	background-position: 0px 0px;
}
.descending-present {
	display: inline-block;
	width: 11px;
	height: 10px;
	font-size: 0;
	vertical-align: top;
	text-decoration: none;
	background: #ffffff url("../img/descending-active.png") no-repeat center;
	background-position: 0px 0px;
  }
.descending:hover{
	background: #ffffff url("../img/descending-hover.png") no-repeat center;
	background-position: 0px 0px;
}
.descending:active{
	background: #ffffff url("../img/descending-active.png") no-repeat center;
	background-position: 0px 0px;
}


.catalog-content {
	display: flex;
	width: 1200px;
	border-bottom: 1px solid #e5e5e5;

}

.catalog-content .img-hotel {
	width: 135px;
	height: 90px;
	padding: 0px 30px 30px 72px;
	margin: 0;
	margin-top: 30px;
}

.hotel-name {
	display: block;
	font-size: 21px;
	line-height: 26px;
	color: #000000;
	font-weight: 700;
	text-decoration: none;
	padding-bottom: 7px;
}
	
.hotel-name:hover {
	color: #81b3d2;
}

.hotel-name:active {
	color: #000;
	opacity: 0.7;
}
	
.content-left {
	max-width: 600px;
	margin-top: 25px;
}	
	
.price-line {
	position: relative;
	font-size: 14px;
	line-height: 21px;
	color: #000000;
	font-weight: 400;
	padding-bottom: 10px;
}

.price {
	position: absolute;
	top: 0px;
	left: 116px;

}

.group-btn a{
	display: inline-block;
	vertical-align: top;
	text-decoration: none;
	font-size: 14px;
	line-height: 21px;
	font-weight: 700;
	color: #ffffff;
	padding: 3px 16px;
	margin-top: 6px;
}

.btn-detail {
	background-color: #81b3d2;
}

.btn-detail:hover {
	background-color: #669ec0;
}

.btn-detail:active {
	background-color: #5496bd;
	color: #94b9d2;
}

.btn-book {
	margin-left: 5px;
	background-color: #766357;
}

.btn-book:hover {
	background-color: #604e43;
}


.btn-book:active {
	background-color: #503e33;
	color: #8b827c;
}
	

	
.content-right {
	margin-left: auto;
	text-align: right;
	margin-right: 72px;
	margin-top: 30px;
}

.content-right img {
	padding-right: 0px;
	padding-bottom: 45px;
}

.content-right span {
	display: block;
	padding: 3px 14px;
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: #666666;
	background-color: #f2f2f2;
}


.main-footer {
	margin-top: -120px;
	padding-bottom: 31px;
	background-color: rgba(255, 255, 255, 0.9);
}

.main-footer-catalog {
	padding-bottom: 30px;
	padding-top: 4px;
}

.footer-tag {
	display: inline-block;
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	float: left;
	width: 240px;
	margin-left: 80px;
	text-align: center;
	padding-top: 20px;
}

.footer-social {
	padding-top: 34px;
	float: left;
	width: 180px;
	margin-left: 189px;
	text-align: center;
}


.social-btn {
	display: inline-block;
	width: 46px;
	height: 48px;
	margin: 0 1px;
	font-size: 0;
	vertical-align: top;
	text-decoration: none;
	background-color: #81b3d2;
}

.social-btn:hover {
	background-color: #ffffff;
}

.social-btn-tw {
	background: #81b3d2 url("../img/twitter.png") no-repeat center;
	background-position: 50% 50%;
}

.social-btn-fb {
	background: #81b3d2 url("../img/facebook.png") no-repeat center;
	background-position: 50% 50%;
}

.social-btn-yt {
	background: #81b3d2 url("../img/youtube.png") no-repeat center;
	background-position: 50% 50%;
}

.social-btn-tw:hover  {
	background: #669ec0 url("../img/twitter.png") no-repeat center;
	background-position: 50% 50%;
}

.social-btn-fb:hover  {
	background: #669ec0 url("../img/facebook.png") no-repeat center;
	background-position: 50% 50%;
}

.social-btn-yt:hover {
	background: #669ec0 url("../img/youtube.png") no-repeat center;
	background-position: 50% 50%;
}

.social-btn-tw:active  {
	background: #5496bd url("../img/twitter-active.png") no-repeat center;
	background-position: 50% 50%;
}

.social-btn-fb:active {
	background: #5496bd url("../img/facebook-active.png") no-repeat center;
	background-position: 50% 50%;
}

.social-btn-yt:active {
	background-color: #5496bd url("../img/youtube-active.png") no-repeat center;
	background-position: 50% 50%;
}


.footer-copyright {
	float: right;
	width: 240px;
	margin-right: 60px;
	display: flex;
	align-items: center;
	padding-top: 32px;
}

.footer-coopyright p {
	font-size: 14px;
	line-height: 26px;
	font-weight: 400;
	margin: 0;
	text-align: left; 
}

.footer-copyright .btn {
	margin-left: 8px;
	font-size: 0;
	text-decoration: none;
	display: block;
	width: 112px;
	height: 38px;
	background: #ffffff url("../img/logo-html.png") no-repeat center;
	background-position: 0px 0px;
}

.footer-copyright .btn:hover {
	background: #ffffff url("../img/logo-html-hover.png") no-repeat center;
	background-position: 0px 0px;
}

.footer-copyright .btn:active {
	background: #ffffff url("../img/logo-html-active.png") no-repeat center;
	background-position: 0px 0px;
}


